{% extends "base.htm" %}

{% block includes %}
<script src="/static/js/admin/piece.js"></script>
{% endblock %}

{% block content %}
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab" id="pieces">
            <thead>
            <a href="{{url_for('admin.new_piece')}}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new piece</a>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script type='text/template' id='piece-view-template'>
        <% _.each(pieces, function(piece) { %>
            <tr data-id='<%= piece.get('id') %>'>
                <td><%= piece.get('name') %></td>
                <td><%= piece.get('description') %></td>
                <td><%= piece.get('location') %></td>
                <td class='text-right'>
                    <button class='edit btn btn-info btn-xs'>
                        <span class='glyphicon glyphicon-edit'></span>
                    </button>
                    <button class='remove btn btn-danger btn-xs'>
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </td>
            </tr>
        <% }); %>
    </script>
{% endblock %}