{% extends "admin_base.htm" %}

{% block body %}
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">JvdB - Admin</li>
                <li><a href="{{url_for('admin.view_pieces')}}">Stukken</a></li>
                <li><a href="{{url_for('admin.view_piece_series')}}">Series</a></li>
            </ul>
        </div>
        <div id="content-wrapper">
            {% block content %} {% endblock %}
        </div>
    </div>
{% endblock %}

<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});
</script>