{% extends "base.htm" %}

{% block content %}
    {% filter markdown %}
# Curriculum vitae Jacqueline van den Bos

Geboren 15 december 1960 te Heemstede

Atelier: 3e wittenburgerdwarsstraat 3b 1018KR Amsterdam

Opleiding: Amsterdamse Academie voor Beeldende Vorming 1980-1984

-docenten: o.a. Hans Sizoo, Ploos van Amstel, Hans Nahuijs, Eric de Nie

Rijksacademie van Beeldende Kunsten 1985-1986

* docenten: Jan Sierhuis, Ger Lataster
* disciplines: schilderen, tekenen, grafiek en fotografie.
* Aangesloten bij PICTORIGHT
 
##Tentoonstellingen:

* 1990 Galerie Schouten & de Vries, Haarlem
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Galerie 'de Kapberg', Egmond


* 1993 Galerie Taras Bulba Amsterdam
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eyssen vm. kaasfabriek te Alkmaar tentoonstelling 'Kaas' i.s.m. 'de Zes Jaargetijden'

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Installatie


* 1994 Galerie Schouten en de Vries Haarlem

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schilderijen Lakgalerie Leiden schilderijen en tekeningen  


* 1996 Artotheek Amsterdam-oost 'Uitdagingen'
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tekeningen


* 1997 Cirkelgalerie Almere
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schilderijen en tekeningen

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lezing.


* 1999 docent beeldend Pier-K te Hoofddorp


* 2000 Expo ten kantore van Klaas de Vries, min. van BZ

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schilderijen

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samenwerking met de dichter Hein Walter

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tekeningen, Martelaren van Gorcum te Amsterdam.


* 2003 Expositie CBK-oost Amsterdam, 'nieuwe aanwinsten'.


* 2005 Zomertentoonstelling kunstenaars van de galerie

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Galerie Ada de Koning Amsterdam Expositie met Tara Woudenberg in galerie Ada de Koning

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expositie Vierwindenhuis te Amsterdam

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wintertentoonstelling galerie Ada de Koning met kunstenaars van de galerie

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Theater 't Speelhuis' te Helmond

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schilderijen en tekeningen i.s.m. galerie Ada de Koning.


* 2006 Zomertentoonstelling galerie Ada de Koning


* 2007 Expositie met Tara Woudenberg galerie Ada de Koning


* 2008 "Ready for Take-off"

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Galerie de Meerse, Hoofddorp.


* 2008 Galerie AdK 10 jaar
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uitgave boek AdK 10 jaar, A van Zoest/ Ada de Koning

* 2009 "Vals Plat" galerie Ada de Koning

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vierwindenhuis Expositie Amsterdam. "Dichter in de Zeevang"

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kunstkoffers, wandelroute; publicatie boekje

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Docent schetsen en tekenen MK24 Amsterdam.

    {% endfilter %}
{% endblock %}