{% extends "base.htm" %}

{% block includes %}
    <link href="/static/libraries/magnific/magnific-popup.css" rel="stylesheet">
    <script src="/static/libraries/magnific/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/works.js"></script>
{% endblock %}

{% block content %}
    <div class="row">&nbsp;</div>
    <div class="row">
    {% for piece in data.pieces %}
        <div class="col-md-4">
            <div class="col-md-8 portfolio-item">
                <a class="image-link" href="{{piece.location}}">
                    <img class="img-responsive" src="{{piece.location}}">
                </a>
            </div>
            <div class="col-md-10">
                <h3><a class="image-link" href="{{piece.location}}">{{piece.name}}</a>
                </h3>
                <p>{{piece.description}}</p>
            </div>
        </div>
        {% if is_multiple(loop.index, 3) %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}