{% extends "base.htm" %}
{% block content %}
    <div class="row">
    {% for image in data.images %}
        <div class="col-md-4">
            <div class="col-md-8 portfolio-item">
                <a href="#project-link">
                    <img class="img-responsive" src="{{image}}">
                </a>
            </div>
            <div class="col-md-10">
                <h3><a href="#project-link">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        {% if is_multiple(loop.index, 3) %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
{% endblock %}